<!-- HEADER -->
{% include "./layout/header.twig" %}

<div class="content">
    {% block page %}
        {% include "./layout/header-menu.twig" %}

        <div class="page-content">
            <div class="checkout">
                <h1 class="c-title__h1">Оформление заказа</h1>
                <form action="">

                    <div class="checkout-box">
                        <div class="checkout-title">Способ получения</div>
                        <div class="c-grid">
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-radio">
                                    <input type="radio" id="checkout-radio-01" name="checkoutDelivery" checked>
                                    <label for="checkout-radio-01">
                                    <span class="checkout-radio__body">
                                        <span class="checkout-radio__title">Доставка курьером (Москва)</span>
                                        <span class="checkout-radio__text">
                                            Стандартная доставка в пределах МКАД, осуществляется в течение двух рабочих дней, после подтверждения заказа менеджером.
                                        </span>
                                    </span>
                                        <span class="checkout-radio__price">190 р.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-radio">
                                    <input type="radio" id="checkout-radio-02" name="checkoutDelivery">
                                    <label for="checkout-radio-02">
                                    <span class="checkout-radio__body">
                                        <span class="checkout-radio__title">Доставка курьером (Москва)</span>
                                        <span class="checkout-radio__text">
                                            Стандартная доставка в пределах МКАД, осуществляется в течение двух рабочих дней, после подтверждения заказа менеджером.
                                        </span>
                                    </span>
                                        <span class="checkout-radio__price">190 р.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-radio">
                                    <input type="radio" id="checkout-radio-03" name="checkoutDelivery">
                                    <label for="checkout-radio-03">
                                    <span class="checkout-radio__body">
                                        <span class="checkout-radio__title">Доставка курьером (Москва)</span>
                                        <span class="checkout-radio__text">
                                            Стандартная доставка в пределах МКАД, осуществляется в течение двух рабочих дней, после подтверждения заказа менеджером.
                                        </span>
                                    </span>
                                        <span class="checkout-radio__price">190 р.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-radio">
                                    <input type="radio" id="checkout-radio-04" name="checkoutDelivery">
                                    <label for="checkout-radio-04">
                                    <span class="checkout-radio__body">
                                        <span class="checkout-radio__title">Доставка курьером (Москва)</span>
                                        <span class="checkout-radio__text">
                                            Стандартная доставка в пределах МКАД, осуществляется в течение двух рабочих дней, после подтверждения заказа менеджером.
                                        </span>
                                    </span>
                                        <span class="checkout-radio__price">190 р.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="checkout-box">
                        <div class="checkout-title">Способ оплаты</div>
                        <div class="c-grid">
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-radio">
                                    <input type="radio" id="checkout-radio-06" name="checkoutPay" checked>
                                    <label for="checkout-radio-06">
                                    <span class="checkout-radio__body">
                                        <span class="checkout-radio__title">Онлайн</span>
                                        <span class="checkout-radio__text">
                                            Картами Visa, MasterCard, Мир
                                        </span>
                                    </span>
                                    </label>
                                </div>
                            </div>
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-radio">
                                    <input type="radio" id="checkout-radio-05" name="checkoutPay">
                                    <label for="checkout-radio-05">
                                    <span class="checkout-radio__body">
                                        <span class="checkout-radio__title">При получении</span>
                                        <span class="checkout-radio__text">
                                            Наличными, картой
                                        </span>
                                    </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="checkout-box">
                        <div class="c-form-box">
                            <div class="c-form-box__title">Контактная информация</div>
                            <div class="c-grid">
                                <div class="c-grid-col c-grid-col--50">
                                    <div class="c-form__item">
                                        <div class="c-form-card">
                                            <label class="c-label">Фамилия Имя Отчество</label>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                    <div class="c-form__item">
                                        <div class="c-form-card">
                                            <label class="c-label">Телефон</label>
                                            <input type="password" class="c-input">
                                        </div>
                                    </div>
                                    <div class="c-form__item">
                                        <div class="c-form-card">
                                            <label class="c-label">Введите новый пароль</label>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="c-grid-col c-grid-col--50">
                                    <div class="c-form__item">
                                        <div class="c-form-card c-form-card--disabled">
                                            <label class="c-label">Адрес доставки</label>
                                            <textarea name="" id="" rows="7" class="c-textarea" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="c-form__item">
                                        <div class="c-form-card">
                                            <label class="c-label">Комментарий к заказу</label>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="checkout-footer">
                        <div class="c-grid">
                            <div class="c-grid-col c-grid-col--50">
                                <div class="checkout-total">
                                    <ul class="checkout-total-list">
                                        <li class="checkout-total-list__item">
                                            <div class="checkout-total-sale">
                                                <div class="checkout-total-sale__text">Сумма по товарам: </div>
                                                <div class="checkout-total-sale__sum">11 523 р.</div>
                                            </div>
                                        </li>
                                        <li class="checkout-total-list__item">
                                            <div class="checkout-total-sale">
                                                <div class="checkout-total-sale__text">Скидка: </div>
                                                <div class="checkout-total-sale__sum">- 425 р.</div>
                                            </div>
                                        </li>
                                        <li class="checkout-total-list__item">
                                            <div class="checkout-total-sale">
                                                <div class="checkout-total-sale__text">Стоимость доставки: </div>
                                                <div class="checkout-total-sale__sum">190 р.</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="checkout-total-footer">
                                        <div class="checkout-total-footer__text">Итого</div>
                                        <div class="checkout-total-footer__price">11 523 р.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-grid-col c-grid-col--50">
                                <button class="checkout-btn">Подтвердить заказ</button>
                                <div class="checkout-info">
                                    <div class="checkout-info__title">Способ оплаты:</div>
                                    <div class="checkout-info__value">При получении</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>


    {% endblock %}
</div>

{% include "./layout/sidebar-user.twig" %}

<!-- FOOTER -->
{% include "./layout/footer.twig" %}