<!-- HEADER -->
{% include "./layout/header.twig" %}

    <div class="content home">
        {% block page %}
        {% include "./layout/header-menu.twig" %}

        <div class="banner-top">
            <div class="banner-top__shadow-top"></div>
            <div class="banner-top__shadow-bottom"></div>
        </div>
        <div class="page-content with-slider">
            <div class="product-list modern">

                <div class="c-grid home-sale">
                    <div class="c-grid-col c-grid-col--50">
                        <div class="c-grid-row">
                            <div class="banner-sale banner-sale--small">
                                <a href="#" class="banner-sale-card">
                                    <img src="./src/img/banner-sale-1.jpg" alt="">
                                </a>
                                <a href="#" class="banner-sale-card">
                                    <img src="./src/img/banner-sale-2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--50">
                        <div class="banner-day">
                            <div class="banner-day-card">
                                <div class="banner-day-card__img">
                                    <img src="./src/img/product-card-facial.png" alt="">
                                </div>
                                <div class="banner-day-card__body">
                                    <div class="banner-day-card__title">Карта дня</div>
                                    <div class="banner-day-card__name">Arahbo, Roar of the World</div>
                                    <div class="banner-day-card__text">
                                        Легендарный командир для трайблов на котах со скидкой 50%
                                    </div>
                                    <div class="banner-day-card__price">
                                        <div class="banner-day-card__price-new">500 р.</div>
                                        <div class="banner-day-card__price-old">1000 р.</div>
                                    </div>
                                    <div class="banner-day-card__footer">
                                        <div class="c-btn-layout">
                                            <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                            <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-grid home-products">
                    <div class="c-grid-col c-grid-col--50">
                        <div class="banner-sale banner-sale--big">
                            <a href="#" class="banner-sale-card">
                                <img src="./src/img/banner-sale-big.jpg" alt="">
                            </a>
                            <div class="banner-sale-card__text">
                                Предложение действует по 27 июля
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--25">
                        <div class="product-card">
                            <div class="product-card__img">
                                <img src="./src/img/product-card-art-1.jpg" alt="">
                                <div class="product-card__title">Conflux</div>
                                <div class="product-card__shadow"></div>
                                <div class="product-card__indicator" style="background-color: #ffb049;"></div>
                            </div>
                            <div class="product-card__body">
                                <div class="product-card__label">
                                    <img src="./src/img/product-icon-set-1.png" alt="">
                                </div>
                                <div class="product-card__head">
                                    <div class="product-card__name">Conflux</div>
                                    <div class="product-card__icon">
                                        <svg class="c-icon icon-conflux">
                                            <use xlink:href="./src/img/sprite.svg#icon-conflux"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-card__price">210 р.</div>
                                <div class="product-card__footer">
                                    <div class="c-btn-layout c-btn-layout--center">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                        <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--25">
                        <div class="product-card">
                            <div class="product-card__img">
                                <img src="./src/img/product-card-art-2.jpg" alt="">
                                <div class="product-card__title">Arahbo, Roar of the World </div>
                                <div class="product-card__shadow"></div>
                                <div class="product-card__indicator" style="background-color: #ffb049;"></div>
                            </div>
                            <div class="product-card__body">
                                <div class="product-card__label">
                                    <img src="./src/img/product-icon-set-1.png" alt="">
                                </div>
                                <div class="product-card__head">
                                    <div class="product-card__name">Commander 2017</div>
                                    <div class="product-card__icon">
                                        <svg class="c-icon icon-conflux">
                                            <use xlink:href="./src/img/sprite.svg#icon-conflux"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-card__price">210 р.</div>
                                <div class="product-card__footer">
                                    <div class="c-btn-layout c-btn-layout--center">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round c-btn--fullwidth c-btn--dark">Подписаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--25">
                        <div class="product-card">
                            <div class="product-card__img">
                                <img src="./src/img/product-card-art-1.jpg" alt="">
                                <div class="product-card__title">Conflux</div>
                                <div class="product-card__shadow"></div>
                                <div class="product-card__indicator" style="background-color: #ffb049;"></div>
                            </div>
                            <div class="product-card__body">
                                <div class="product-card__label">
                                    <img src="./src/img/product-icon-set-1.png" alt="">
                                </div>
                                <div class="product-card__head">
                                    <div class="product-card__name">Conflux</div>
                                    <div class="product-card__icon">
                                        <svg class="c-icon icon-conflux">
                                            <use xlink:href="./src/img/sprite.svg#icon-conflux"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-card__price">210 р.</div>
                                <div class="product-card__footer">
                                    <div class="c-btn-layout c-btn-layout--center">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                        <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--25">
                        <div class="product-card">
                            <div class="product-card__img">
                                <img src="./src/img/product-card-art-2.jpg" alt="">
                                <div class="product-card__title">Arahbo, Roar of the World </div>
                                <div class="product-card__shadow"></div>
                                <div class="product-card__indicator" style="background-color: #ffb049;"></div>
                            </div>
                            <div class="product-card__body">
                                <div class="product-card__label">
                                    <img src="./src/img/product-icon-set-1.png" alt="">
                                </div>
                                <div class="product-card__head">
                                    <div class="product-card__name">Commander 2017</div>
                                    <div class="product-card__icon">
                                        <svg class="c-icon icon-conflux">
                                            <use xlink:href="./src/img/sprite.svg#icon-conflux"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-card__price">210 р.</div>
                                <div class="product-card__footer">
                                    <div class="c-btn-layout c-btn-layout--center">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round c-btn--fullwidth c-btn--dark">Подписаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--25">
                        <div class="product-card">
                            <div class="product-card__img">
                                <img src="./src/img/product-card-art-3.jpg" alt="">
                                <div class="product-card__title">Parhelion II</div>
                                <div class="product-card__shadow"></div>
                                <div class="product-card__indicator" style="background-color: #fff;"></div>
                            </div>
                            <div class="product-card__body">
                                <div class="product-card__label">
                                    <img src="./src/img/product-icon-set-1.png" alt="">
                                </div>
                                <div class="product-card__head">
                                    <div class="product-card__name">War of the Spark</div>
                                    <div class="product-card__icon">
                                        <svg class="c-icon icon-conflux">
                                            <use xlink:href="./src/img/sprite.svg#icon-conflux"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-card__price">29 р.</div>
                                <div class="product-card__footer">
                                    <div class="c-btn-layout c-btn-layout--center">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                        <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid-col c-grid-col--25">
                        <div class="product-card">
                            <div class="product-card__img">
                                <img src="./src/img/product-card-art-4.jpg" alt="">
                                <div class="product-card__title">Омнат, Очаг Маны </div>
                                <div class="product-card__shadow"></div>
                                <div class="product-card__indicator" style="background-color: #44a63d;"></div>
                            </div>
                            <div class="product-card__body">
                                <div class="product-card__label">
                                    <img src="./src/img/product-icon-set-1.png" alt="">
                                </div>
                                <div class="product-card__head">
                                    <div class="product-card__name">Worldwake</div>
                                    <div class="product-card__icon">
                                        <svg class="c-icon icon-conflux">
                                            <use xlink:href="./src/img/sprite.svg#icon-conflux"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-card__price">210 р.</div>
                                <div class="product-card__footer">
                                    <div class="c-btn-layout c-btn-layout--center">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                        <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        {% endblock %}
    </div>

    {% include "./layout/sidebar.twig" %}

<!-- FOOTER -->
{% include "./layout/footer.twig" %}