<!-- HEADER -->
{% include "./layout/header.twig" %}

    <div class="content">
        {% block page %}
        {% include "./layout/header-menu.twig" %}

        <div class="banner-top">
            <div class="banner-top__shadow-top"></div>
            <div class="banner-top__shadow-bottom"></div>
        </div>
        <div class="page-content with-slider">
            <div class="c-grid">
                <div class="c-grid-col c-grid-col--50">
                    <div class="c-grid-row">
                        <div class="banner-sale banner-sale--small">
                            <a href="#" class="banner-sale-card">
                                <img src="./../src/img/banner-sale-1.jpg" alt="">
                            </a>
                            <a href="#" class="banner-sale-card">
                                <img src="./../src/img/banner-sale-2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="c-grid-col c-grid-col--50">
                    <div class="banner-day">
                        <div class="banner-day-card">
                            <div class="banner-day-card__img">
                                <img src="./../src/img/product-card-facial.png" alt="">
                            </div>
                            <div class="banner-day-card__body">
                                <div class="banner-day-card__title">Карта дня</div>
                                <div class="banner-day-card__name">Arahbo, Roar of the World</div>
                                <div class="banner-day-card__text">
                                    Легендарный командир для трайблов на котах со скидкой 50%
                                </div>
                                <div class="banner-day-card__price">
                                    <div class="banner-day-card__price-new">500 р.</div>
                                    <div class="banner-day-card__price-old">1000 р.</div>
                                </div>
                                <div class="banner-day-card__footer">
                                    <div class="c-btn-layout">
                                        <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                        <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-grid">
                <div class="c-grid-col c-grid-col--50">
                    
                </div>
                <div class="c-grid-col c-grid-col--50">
                    <div class="product-card">
                        <div class="product-card__img">
                            <img src="./../src/img/product-card-art-1.jpg" alt="">
                            <div class="product-card__title">Conflux</div>
                            <div class="product-card__shadow"></div>
                            <div class="product-card__indicator" style="background-color: #ffb049;"></div>
                        </div>
                        <div class="product-card__body">
                            <div class="product-card__head">                    
                                <div class="product-card__name">Conflux</div>
                                <div class="product-card__icon">

                                </div>
                            </div>
                            <div class="product-card__price">210 р.</div>
                            <div class="product-card__footer">
                                <div class="c-btn-layout">
                                    <a href="#" class="c-btn c-btn--middle c-btn--round">В корзину</a>
                                    <a href="#" class="c-btn c-btn--small c-btn--round">+4</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <h1 class="c-title__h1">Заголовок 1 уровня</h1>
        <h2 class="c-title__h2">Заголовок 2 уровня</h2>

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a, voluptatem aliquid at aliquam ut nisi consequuntur vel. Quae molestias sit neque error doloremque quam veniam recusandae sunt necessitatibus atque.
        {% endblock %}
    </div>

    {% include "./layout/sidebar.twig" %}

<!-- FOOTER -->
{% include "./layout/footer.twig" %}