<!-- HEADER -->
{% include "./layout/header.twig" %}

    <div class="content">
        {% block page %}
        {% include "./layout/header-menu.twig" %}

            <div class="banner-top">
                <div class="banner-top__shadow-top"></div>
                <div class="banner-top__shadow-bottom"></div>
            </div>

        <h1 class="c-title__h1">Заголовок 1 уровня</h1>
        <h2 class="c-title__h2">Заголовок 2 уровня</h2>

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a, voluptatem aliquid at aliquam ut nisi consequuntur vel. Quae molestias sit neque error doloremque quam veniam recusandae sunt necessitatibus atque.
        {% endblock %}
    </div>

    {% include "./layout/sidebar.twig" %}

<!-- FOOTER -->
{% include "./layout/footer.twig" %}