<!-- HEADER -->
{% include "./layout/header.twig" %}

<div class="content">
    {% block page %}
        {% include "./layout/header-menu.twig" %}
        <div class="page-content">
            <div class="lk">
                <h1 class="c-title__h1">Личный кабинет — Обратная связь</h1>

                <div class="lk-user">
                    <div class="c-grid">
                        <div class="c-grid-col c-grid-col--50">
                            <div class="c-form-box">
                                <div class="c-form-box-info">
                                    <div class="c-form-box-info__user">
                                        <label class="c-label">Фамилия Имя Отчество</label>
                                        <div class="c-form-box-info__value">
                                            <span>Иванов Иван Иванович</span>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                    <div class="c-form-box-info__operation">
                                        <a href="#" class="c-form-box-info__link is-change">Изменить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-grid-col c-grid-col--50">
                            <div class="c-form-box">
                                <div class="c-form-box-info">
                                    <div class="c-form-box-info__user">
                                        <label class="c-label">Пароль</label>
                                        <div class="c-form-box-info__value">
                                            <span>*******</span>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                    <div class="c-form-box-info__operation">
                                        <a href="#" class="c-form-box-info__link is-change">Изменить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-grid-col c-grid-col--50">
                            <div class="c-form-box">
                                <div class="c-form-box-info">
                                    <div class="c-form-box-info__user">
                                        <input type="email" class="c-input" placeholder="Email">
                                    </div>
                                    <div class="c-form-box-info__operation">
                                        <a href="#" class="c-form-box-info__link">Добавить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-grid-col c-grid-col--50">
                            <div class="c-form-box">
                                <div class="c-form-box-info">
                                    <div class="c-form-box-info__user">
                                        <label class="c-label">Адрес</label>
                                        <div class="c-form-box-info__value">
                                            <span>г. Москва, ул Селезнёвская, д. 11а, стр.2</span>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                    <div class="c-form-box-info__operation">
                                        <a href="#" class="c-form-box-info__link">Изменить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-grid-col c-grid-col--50">
                            <div class="c-form-box">
                                <div class="c-form-box-info">
                                    <div class="c-form-box-info__user">
                                        <label class="c-label">Телефон</label>
                                        <div class="c-form-box-info__value">
                                            <span>+7 000 000 00 00</span>
                                            <input type="text" class="c-input">
                                        </div>
                                    </div>
                                    <div class="c-form-box-info__operation">
                                        <a href="#" class="c-form-box-info__link is-change">Изменить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    {% endblock %}
</div>

{% include "./layout/sidebar.twig" %}

<!-- FOOTER -->
{% include "./layout/footer.twig" %}