.wrapper {
    background-color: $black;
    box-sizing: border-box;
}
.layout {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    max-width: 100%;
    max-width: 1404px;
    margin: 0 auto;
}

.content {
    color: #ccc;
    padding: 38px 30px;
    flex: 1 1 auto;

    @media screen and (min-width:1600px) {
        //padding: 36px 60px;
    }
}

.sidebar {
    flex: 0 0 275px;
    background-color: #111015;
    min-height: 100vh;
    padding: 54px 32px;

    &-top {
        margin-bottom: 64px;
        &__body {
            height: 213px;
            margin-bottom: 20px;
            position: relative;
        }
    }

    &-auth {
        width: 100%;
        position: absolute;
        opacity: 0;
        z-index: 5;
        top: 0;
        left: 0;
        visibility: hidden;
        height: 100%;
        background-color: #18171c;
        border-radius: 10px;
        padding: 28px 18px;

        &.is-show {
            visibility: visible;
            opacity: 1;
        }
    }

    &-registration {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        height: 100%;
        background-color: #18171c;
        border-radius: 10px;

    }

    &-basket {
        height: 100%;
        position: relative;
        background: radial-gradient(circle, rgba(255,255,255,0.20) 0%, rgba(24,23,28,0) 50%);

        &.active {
            background: radial-gradient(circle, rgba(4,98,220,0.30) 0%, rgba(24,23,28,0) 70%);

            .sidebar-basket__icon {
                svg {
                    fill: #111015;
                }
            }
        }

        &-list {
            height: 100%;
        }

        &__icon {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;

        }

        &-count {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                display: block;
                font-size: 16px;
                font-weight: 700;
                margin-right: 11px;
            }

            &__number {
                width: 32px;
                height: 24px;
                line-height: 25px;
                background-color: #fff;
                color: $black;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                border-radius: 1200px;
            }
        }

        &__total {
            font-size: 16px;
        }
    }



    &-tab {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
            color: #fff;
            opacity: .6;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                opacity: 1;
                @include animation;
            }

            &.active {
                opacity: 1;
                color: $blue;
            }
        }
    }

    &-box {
        margin-bottom: 18px;
        &__head {
            margin-bottom: 16px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor:pointer;
            opacity: .3;
            @include animation;

            &:hover {
                opacity: 1;
                @include animation;

                .sidebar-box__icon {
                    span {
                        background-color: $blue;
                    }
                }
            }

            &.is-show {
                opacity: 1;
                span {
                    background-color: $blue;
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        &__title {
            font-size: 16px;
            font-weight: 700;
        }

        &__icon {
            width: 16px;
            height: 16px;
            position: relative;
            cursor:pointer;

            span {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: #fff;
                z-index: 5;

                &:nth-child(1) {
                    width: 16px;
                    height: 2px;
                }

                &:nth-child(2) {
                    width: 2px;
                    height: 16px;
                }
            }

        }

        &__body {
            margin-bottom: 38px;

        }

        &-list {
            margin: 0;
            margin-bottom: 16px;
            padding: 0;
            list-style: none;

            &--horizontal {
                display: flex;
                justify-content: flex-start;
                flex-flow: row wrap;
                align-items: stretch;

                .sidebar-box-list__item {
                    margin-bottom: 8px;
                }
            }

            &__item {

                &--33 {
                    width: 33.3333%;
                }
                &--50 {
                    width: 50%;
                }

                &:last-child {
                    margin-bottom: 0;

                    label {
                        padding-bottom: 0;
                    }
                }
            }
        }

        &__more {
            font-size: 12px;
            text-decoration: none;
            color: $blue;
            font-weight: 700;
        }
    }

}


.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px;
    position: relative;
    z-index: 20;

    &-logo {
        font-size: 29px;
        font-weight: 900;
        text-transform: uppercase;
        margin-right: 100px;

        a {
            color: #fff;
            text-decoration: none;
        }
        
        @media screen and (min-width:1600px) {
            //margin-right: 134px;
        }
    }

    &-body {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    

    &-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        &__link {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            //margin-right: 30px;
            padding: 20px 15px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &-dropdown {
        padding: 20px 0 20px 30px;
        &:hover {
            .header-dropdown-menu {
                display: block;
            }
        }

        &__link {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            letter-spacing: 2px;
            cursor:pointer;
        }

        &-menu {
            display: none;
            position: absolute;
            z-index: -1;
            top: 100%;
            right: -16px;
            background: $black;
            width: 190px;
            padding: 14px 30px;
            box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.7);
            border-radius: 25px 0 0 0;

            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                right: 0;
                width: 55px;
                height: 54px;
                background-color: $black;
                border-radius: 25px 25px 0 0;
            }

            &__link {
                display: block;
                font-weight: 700;
                padding: 16px 0;
                text-decoration: none;
                color: #fff;
                text-align: center;
                @include animation;

                &:hover {
                    color: $blue;
                    @include animation;
                }
            }
        }
    }
}

.search {
    width: 100%;
    background-color: rgba(17, 16, 21, .8);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 27px;
    margin-right: 30px;
    position: relative;
    z-index: 15;
    @include animation;

    &.is-focus {
        background-color: $black;
        @include animation;

        .search-result {
            @include animation;
            opacity: 1;
            visibility: visible;
            z-index: 20;
        }
    }

    @media screen and (min-width:1600px) {
        //margin-right: 60px;
    }

    &-body {
        width: 100%;
    }

    input {
        
        padding: 15px 26px;
        display: block;
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        width: 100%;
    }

    &-btn {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 26px;

        svg {
            @include animation;
        }

        &:hover {
            svg {
                @include animation;
                fill: $blue;
            }
        }
    }

    &-result {
        opacity: 0;
        visibility: hidden;
        padding-top: 60px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(24, 23, 28, .90);
        border-radius: 27px;
        overflow: hidden;
        @include animation;

        &-list {
            &__item {
                &:nth-child(even) {
                    background-color: rgba(24, 23, 28, .90);
                }

                a {
                    text-decoration: none;
                }
            }
        }



        &-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 35px;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            @include animation;

            &:hover {
                background-color: $blueDark;
                @include animation;

                .search-result-card__price {
                    color: #fff;
                    @include animation;
                }

            }

            &__name {
                flex: 0 0 35%;
            }

            &__icon {
                padding: 0 18px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: 0 0 18%;
            }

            &__type {
                flex: 0 0 35%;
            }

            &__price {
                font-size: 12px;
                color: #0462dc;
                font-weight: 700;
                text-align: right;
                flex: 0 0 12%;
                white-space: nowrap;
            }
        }
    }
}

.banner {
    &-top {
        overflow: hidden;
        //height: 370px;
        //margin-right: -60px;
        //margin-left: -60px;
        margin-top: -147px;
        height: 360px;
        margin-right: -32px;
        margin-left: -32px;
        background: url(./../src/img/banner-img.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        position: relative;

        @media screen and (max-width:1600px) {
            height: 360px;
            margin-right: -32px;
            margin-left: -32px;
        }

        &__shadow {
            &-top {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 170px;
                background: rgb(24,23,28);
                background: linear-gradient(0deg, rgba(24,23,28,0) 0%, rgba(24,23,28,1) 100%);
            }

            &-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 150px;
                background: rgb(24,23,28);
                background: linear-gradient(180deg, rgba(24,23,28,0) 0%, rgba(24,23,28,1) 89%);           }
        }
    }

    &-sale {

        &-card {
            display: block;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__text {
                margin-top: 10px;
                color: #fff;
                opacity: .3;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
            }
        }
        &--small {

            .banner-sale-card {
                height: 130px;
            }

        }

        &--big {
            height: 315px;
            .banner-sale-card {
                margin-bottom: 0;
            }

        }


    }

    &-day {
        padding-left: 106px;

        &-card {
            color: #fff;
            background-color: #111015;
            padding: 28px 30px 14px 104px;
            position: relative;
            border-radius: 10px;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 60%;
                left: -90px;
                transform: translateY(-50%) rotate(350deg);
                font-size: 10px;
                width: 14.8em;
                height: 21.1em;
                background-image: url('./../src/img/product-card-turnover.jpg');
            }

            &__img {
                max-width: 152px;
                overflow: hidden;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                left: -75px;
                transform: translateY(-50%);
                box-shadow: 0 11px 18px 0 rgba(0,0,0,.5);
                
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            &__body {

            }

            &__title {
                font-size: 35px;
                font-weight: 900;
                margin-bottom: 20px;
                
            }

            &__name {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &__text {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 20px;
            }

            &__price {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 16px;

                &-new {
                    font-size: 35px;
                    font-weight: 900;
                    margin-right: 36px;
                }

                &-old {
                    position: relative;
                    font-weight: 900;
                    font-size: 24px;
                    color: #37363c;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -14px;
                        right: -14px;
                        height: 2px;
                        background-color: $blue;
                    }
                }
            }
        }
    }
}

.product {
    position: relative;

    &-icons {
        display: inline-block;
        &__item {
            display: inline-block;
        }
    }

    &-tab {
        .product-list {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    &-list {
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        margin-left: -15px;
        margin-right: -15px;

        transition: all .1s ease-in-out;

        &.is-show {
            position: relative;
            z-index: 2;
            opacity: 1;
            visibility: visible;
            transition: all .1s ease-in-out;
        }

        &.modern {

            .product-list__item {
                width: 25%;
            }

            .product-card {
                min-width: 246px;
                margin-bottom: 25px;
                &__img {
                    position: relative;
                    height: 180px;
                    overflow: hidden;
                    border-radius: 10px 10px 0 0;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__label {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                &__indicator {
                    position: absolute;
                    z-index: 12;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                }

                &__title {
                    position: absolute;
                    bottom: 16px;
                    font-weight: 900;
                    left: 22px;
                    right: 22px;
                    z-index: 11;
                }

                &__shadow {
                    background: linear-gradient( 180deg, rgba(24, 23, 28, 0) 0%, #18171c 100%);
                    height: 100px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    z-index: 10;
                }

                &__head {
                    margin-bottom: 14px;
                    opacity: 0.3;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__name {
                    color: #ffffff;
                    font-size: 14px;
                }

                &__body {
                    background-color: #37363c;
                    padding: 13px 20px 13px;
                    border-radius: 0 0 10px 10px;
                    position: relative;
                }

                &__price {
                    font-size: 35px;
                    font-weight: 900;
                    margin-bottom: 30px;
                }

                &__footer {
                    position: absolute;
                    bottom: -30px;
                    left: 20px;
                    right: 20px;
                }
            }
        }

        &.classic {
            .product-list__item {
                width: 25%;
            }

            .product-card {
                margin-bottom: 25px;
                position: relative;

                &__price {
                    font-size: 35px;
                    font-weight: 900;
                    margin-bottom: 30px;
                    text-align: center;
                }

                &__footer {
                    position: absolute;
                    bottom: -30px;
                    left: 20px;
                    right: 20px;
                }

                &__body {
                    background-color: #37363c;
                    padding: 0 20px 13px;
                    border-radius: 0 0 10px 10px;
                    position: relative;
                }

                &__img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    padding-bottom: 20px;
                    position: relative;
                    overflow: hidden;

                    &-wrapper {
                        position: relative;
                        z-index: 2;
                        height: 100%;
                        max-width: 196px;
                        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .3);
                        border-radius: 10px;
                        overflow: hidden;
                    }

                    &::after {
                        content: '';
                        height: 100%;
                        position: absolute;
                        background-color: #37363c;
                        border-radius: 10px 10px 0 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 55px;
                        z-index: -1;
                    }

                    img {
                        display: block;
                    }
                }
            }
        }

        &.grid {

            .product-list__item {
                width: 20%;
            }

            .product-card {
                background-color: #37363c;
                min-width: auto;
                width: 100%;
                border-radius: 10px;

                &__img {
                    padding: 19px;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    &-wrapper {
                        width: 90px;
                        height: 126px;
                    }
                    &::after {
                        content: '';
                        display: none;
                    }
                }

                &__body {
                    background-color: #37363c;
                    padding: 13px 20px 13px;
                    border-radius: 0 0 10px 10px;
                    position: relative;
                }

                &__footer {
                    position: absolute;
                    bottom: -30px;
                    left: 20px;
                    right: 20px;
                }
            }
        }

        &.list {
            width: 100%;
            margin-left: 0;
            margin-right: 0;

            .product-list__item {
                width: 100%;
            }
            

        }

        &__item {
            margin-bottom: 35px;
            padding: 0 15px;
        }
    }

    &-table {
        width: 100%;
        &-head {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //padding: 25px 0;
            padding-bottom: 25px;

            &__col {
                &:nth-child(1) {
                    width: 23.5%;
                }
                &:nth-child(2) {
                    width: 22%;
                }
                &:nth-child(3) {
                    width: 14.5%;
                }
                &:nth-child(4) {
                    width: 14.5%;
                }
                &:nth-child(5) {
                    width: 6%;
                }
                &:nth-child(6) {
                    width: 19%;
                }
            }

            &__title {
                text-transform: uppercase;
                font-size: 12px;
                color: #ffffff;
            }
        }

        &-body {

        }

        &-row {
            font-weight: 400;
            font-size: 12px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-height: 70px;
            &:nth-child(odd) {
                background: linear-gradient(90deg,
                        rgba(17,16,21,0) 0%,
                        rgba(17,16,21,1) 50%,
                        rgba(17,16,21,0) 100%);
            }
            //&:nth-child(even) {
            //    background-color: #18171c;
            //}
            &__col {
                &:nth-child(1) {
                    width: 23.5%;
                }
                &:nth-child(2) {
                    width: 22%;
                }
                &:nth-child(3) {
                    width: 14.5%;
                }
                &:nth-child(4) {
                    width: 14.5%;
                }
                &:nth-child(5) {
                    width: 6%;
                }
                &:nth-child(6) {
                    width: 19%;
                }
            }

            &__name {
                font-size: 14px;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__release {
                font-weight: 400;
                font-size: 12px;
            }

            &__type {
                font-weight: 400;
                font-size: 12px;
            }

            &__rarity {

            }

            &__price {
                font-size: 14px;
                color: $blue;
                font-weight: 700;
            }

        }
    }


    &-page {
        padding-left: 275px;
        margin-bottom: 84px;

        &-card {
            color: #fff;
            background-color: #111015;
            padding: 40px 44px 40px 275px;
            border-radius: 10px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 50%;
                left: -21%;
                transform: translateY(-50%) rotate(350deg);
                font-size: 10px;
                width: 27.1em;
                height: 39.1em;
                overflow: hidden;
                border-radius: 10px;
                background-image: url('./../src/img/product-card-turnover.png');
            }
        }

        &__img {
            overflow: hidden;
            border-radius: 8px;
            position: absolute;
            top: 40%;
            left: -18%;
            transform: translateY(-50%);
            box-shadow: 0 11px 18px 0 rgba(0,0,0,.5);

            img {
                display: block;
            }
        }

        &__body {

        }

        &-title {
            position: relative;
            padding-right: 100px;

            &__icon {
                text-align: right;
                width: 80px;
                position: absolute;
                right: 0;
                top: 0;
                .product-icons {
                    text-align: right;
                }
            }
        }

        &__subtitle {
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            margin-bottom: 20px;
            a {
                color: $blue;
                text-decoration: none;
            }

        }

        &__description {
            margin-bottom: 34px;
            a {
                color: $blue;
                text-decoration: none;
            }
        }

        &__price {
            margin-right: 32px;
            font-size: 35px;
            font-weight: 700;
        }

        &-character {
            margin-bottom: 40px;

            &__row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
            }

            &__name {
                font-size: 14px;
                font-weight: 400;
            }

            &__value {
                font-size: 14px;
                font-weight: 700;
            }
        }

        &-footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .c-btn {
            margin-bottom: 0;
        }
    }
}


.panel {
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-sort {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__title {
            font-size: 12px;
            font-weight: 400;
            margin-right: 36px;
        }

        &-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &__item {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    a {
                        background-color: #37363c;
                    }

                }
            }
        }

    }

    &-view {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__icon {
            cursor: pointer;
            opacity: .3;
            margin-left: 13px;
            &.active {
                opacity: 1;
            }
        }
    }

    &-btn {
        display: inline-block;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        min-width: 110px;
        height: 40px;
        line-height: 38px;
        border: 2px solid #37363c;
        text-decoration: none;
        text-align: center;
        border-radius: 150px;
    }
}