/****************************/
/****************************/
/****************************/
@media screen and (min-width:1600px) {

    
}


@media screen and (max-width:1400px) {
  .product-list.modern {

  }

  .home {
    &-sale {
      .c-grid-col {
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 60%;
        }
      }
    }
  }

  .product {
    &-list {
      &.modern {
        .product-list__item {
          width: 33.333%;
        }
      }
      &.classic {
        .product-list__item {
          width: 33.333%;
        }
      }
      &.grid {
        .product-list__item {
          width: 25%;
        }
      }
    }

    &-page {
      padding-left: 180px;

      &-card {
        padding: 40px 44px 40px 180px;
      }
    }
  }
  .home {
    &-products {
      &.c-grid {
        justify-content: flex-start;
      }
      .c-grid-col {
        width: 33.3333%;
        &:nth-child(1) {
          width: 66.6666%;
        }
      }
    }

  }
}

@media screen and (max-width:1200px) {
  .sidebar {
    top: 0;
    height: 100%;
    width: 275px;
    position: fixed;
    right: -275px;
    z-index: 999;
    overflow-y: scroll;
    transition: all .2s ease-in-out;
    padding: 22px 26px;

    &-mobile {
      display: block;
    }
  }

  .header {
    margin-bottom: 26px;
  }

  .content {
    padding: 38px 16px;
  }
  .c-grid {
    margin: 0;
  }

  .banner-top {
    margin-right: -16px;
    margin-left: -16px;
  }

  .header {

    &-menu {
      display: none;
    }
    .mobile {
      &-icon {
        display: flex;
      }
    }
  }

  #view-list,
  .panel-view__icon  .icon-list {
    display: none;
  }

}


@media screen and (max-width:1100px) {
  .home {

    &-sale {
      width: 100%;

      .c-grid-col {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }

    .banner {
      &-day {
        width: 100%;
      }
    }


  }
}


@media screen and (max-width:980px) {
  .product {
    &-page {
      padding-left: 130px;

      &-card {
        padding: 30px 34px 30px 120px;

        &::before {
          font-size: 8px;
          background-size: cover;
          left: -18%;
        }
      }

      &__img {
        width: 220px;
        img {
          width: 100%;
        }
      }

      &-title {
        h1 {
          font-size: 26px;
          margin-bottom: .8em;
        }
      }
    }
  }

  .order-card {
    &-info {
      padding-right: 17px;
      width: 45%;
    }

    &-list {
      padding: 6px 12px;
    }
  }
}
@media screen and (max-width:850px) {

  .content {
    padding: 20px 16px;
  }

  .product {
    &-list {
      &.modern {
        .product-list__item {
          width: 50%;
        }
      }
      &.classic {
        .product-list__item {
          width: 50%;
        }
      }
      &.grid {
        .product-list__item {
          width: 33.3333%;
        }
      }
    }
  }

  .header {

    &-logo {
      margin-right: 30px;
    }
    &-menu {
      display: none;
    }

    &-body {
      justify-content: flex-end;
    }

    .search {

      input {
        padding: 12px 26px;
      }

      &-btn {
        padding: 8px 26px;
        display: none;
      }
    }

    .search {
      display: none;
    }

    .mobile {
      &-icon {
        &__search {
          display: block;
        }
      }
    }


  }

  .panel {
    &-sort {
      &-list {
        display: none;
      }

      &-mobile {
        display: block;
      }
    }
  }

  .basket {
    &-footer {
      flex-flow: row wrap;
      &__col {
        &:nth-child(1) {
          flex: 1 0 100%;
          margin-bottom: 20px;
        }
      }
    }

    &-table {
      &-head {
        justify-content: space-between;
        &__col {
          &:nth-child(1) {
            display: none;
          }
        }
      }
      &-row {
        justify-content: space-between;
        &__col {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }
    &-promocode {
      &__input {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }

  }

  .lk {
    &-user {
      .c-grid-col {
        width: 100%;
        margin-bottom: 8px;
        padding: 0;
      }
    }
  }

  .c-form-box {
    padding: 26px 16px 26px 16px;

    &-info {
      &__value {
        span {
          font-size: 14px;
        }
      }
      &__link {
        font-size: 14px;
      }
    }

    &__footer {
      left: 16px;
    }
  }

  .home {
    &-products {
      &.c-grid {
        justify-content: flex-start;
      }
      .c-grid-col {
        width: 50%;
        &:nth-child(1) {
          width: 100%;
        }
      }
    }

    .product-card {
      min-width: 100% !important;
    }
  }

  .checkout {
    .c-grid-col {
      width: 100%;
      margin-bottom: 15px;
      padding: 0;
    }

    &-radio {
      position: relative;
      &__title {
        padding-right: 70px;
      }

      &__price {
        position: absolute;
        top: 29px;
        right: 38px;
      }

      &__text {
        font-size: 10px;
        line-height: 13px;
      }
    }

    &-title {
      padding-left: 0;
    }

    &-box {
      margin-bottom: 30px;
      .c-form-box {
        background-color: transparent;
        padding: 20px 0;
      }
    }

    &-total {
      padding: 0;
    }

    &-btn {
      height: 67px;
      line-height: 67px;
    }

    &-footer {
      padding: 0;
      background-color: transparent;
    }
  }

  .order-card {
    flex-direction: column;

    &-info {
      width: 100%;
      margin-bottom: 20px;
    }

    &-list {
      width: 100%;
      margin-bottom: 20px;

      .c-order-list {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        &__item {
          width: 33.333%;
        }
      }

    }

    &-operation {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__btn {
        flex-flow: row wrap;

        .c-btn-layout {
          flex-flow: row nowrap;
        }
      }
    }
  }
}

@media screen and (max-width:740px) {
  .product {
    &-page {
      padding: 0;
      margin-bottom: 40px;

      &__img {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-bottom: 28px;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          padding-bottom: 10px;
          width: auto;
        }
      }

      &-card {
        padding: 26px;

        &::before {
          display: none;
        }
      }
    }
  }

  .order-card {

    &-list {

      .c-order-list {
        &__item {
          width: 50%;
        }
      }

    }


  }
}

@media screen and (max-width:580px) {
  .basket {
    &-footer {
      flex-flow: row wrap;
      align-items: center;
      &__col {
        &:nth-child(1) {
          flex: 1 0 100%;
          margin-bottom: 20px;
        }
      }
      .c-btn {
        padding: 15px 16px;
        margin: 0;
      }
    }
    &-total {
      font-size: 24px;
    }

    &-table {
      &-head {
        display: none;
      }
      &-row {
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        padding: 10px 0;
        &__col {
          &:nth-child(2) {
            width: 100%;
            flex: 1 0 100%;
            margin-bottom: -20px;
          }
          &:nth-child(3) {
            width: auto;
          }
          &:nth-child(4) {
            width: auto;
          }
        }

        &__name {
          font-size: 16px;
        }
        &__price {
          font-size: 24px;
        }
      }
    }
  }

  .c-title__h1 {
    font-size: 24px;
    margin-bottom: .6em;
  }

  .thanks {
    &-title {
      font-size: 30px;
    }

    &-number {
      font-size: 24px;
    }
  }

  .banner {

    &-sale {
      &--big {
        height: 210px;
      }
    }

    &-day {
      padding: 0;

      &-card {
        padding: 24px;
        &__title {
          font-size: 30px;
        }

        &::before {
          display: none;
        }

        &__img {
          display: none;
        }
      }
    }
  }

  .lk-order {
    padding-top: 20px;
  }

  .order-card {
    padding: 0;
    background-color: transparent;

    &-info {
      padding: 0;
      margin-bottom: 15px;
      &__title {
        font-size: 23px;
        margin-bottom: 15px;
      }

      &-characteristic {
        &__item {
          margin-bottom: 8px;
        }
      }
    }

    &-status {
      margin-bottom: 15px;
    }

    &-list {
      padding: 0;
      margin-bottom: 12px;
      .c-order-list {
        &__item {
          width:100%;
          padding: 0 12px;
        }
      }

      .c-order-shadow {
        background: linear-gradient(
                        180deg, rgba(24, 23, 28, 0) 0%, #18171c 100%);
      }

    }

    &-operation {
      flex-direction: column;
      align-items: flex-start;

      &__btn {
        flex-flow: row wrap;

        .c-btn-layout {
          flex-flow: row nowrap;
        }
      }

      .c-btn {
        padding: 15px 18px;
      }

      .c-btn--dark {
        background-color: #111015;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width:540px) {

  .home {
    &-products {
      &.c-grid {
        justify-content: flex-start;
      }
      .c-grid-col {
        width: 100%;
        &:nth-child(1) {
          width: 100%;
        }
      }
    }

  }

  .header {

    &-logo {
      font-size: 24px;
    }
  }


  .panel {
    &-view {
      &__icon {
        margin-left: 10px;
      }

    }
    .icon-classic, .icon-grid, .icon-list, .icon-modern {
      font-size: 28px;
    }
  }

  .product {
    &-list {
      &.modern {
        .product-list__item {
          width: 100%;
        }
      }
      &.classic {
        .product-list__item {
          width: 100%;
        }
      }
      &.grid {
        .product-list__item {
          width: 50%;
        }
      }
    }

    &-page {
      &-title {
        padding: 0;
        margin-bottom: 24px;

        h1 {
          font-size: 24px;
          margin-bottom: 8px;
        }

        &__icon {
          position: static;
          width: 100%;
          text-align: left;
        }
      }

      &-character {
        &__row {
          margin-bottom: 13px;
        }
        &__value,
        &__name {
          font-size: 13px;
        }
      }

      &__price {
        margin-right: 10px;
        font-size: 26px;
      }

      &-card {
        padding: 0;
      }
    }
  }

  .lk {
    &-recovery,
    &-user,
    &-feedback {
      margin-left: -16px;
      margin-right: -16px;
    }

    &-feedback {
      .c-grid-col {
        width: 100%;
        padding: 0;
      }
    }

    &-recovery {
      .c-form-box__title {
        display: none;
      }
      .c-grid-col {
        width: 100%;
        padding: 0;
      }
    }
  }

  .banner {
    &-day {
      padding: 0;

      &-card {
        padding: 0;
      }
    }
  }

  .checkout {
    &-radio {
      label {
        padding: 18px 15px;
      }

      &__price {
        top: 22px;
        right: 18px;
      }
    }

    &-box {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width:380px) {
  .panel {
    &-view {
      display: none;
    }
  }

  .product {
    &-list {
      &.grid {
        .product-list__item {
          width: 100%;
        }
      }
    }
  }

  .c-title__h1 {
    font-size: 18px;
  }
}

@media screen and (max-width:340px) {

}




/****************************/
/****************************/
/****************************/
