//@import "animation";

$black: #18171c;
$grey: #b0b0b0;
$blue: #0462dc;
$blueDark: #0e4b9b;

@mixin clear-link {
  text-decoration: none;
}

@mixin animation {
  transition: all .2s ease-in-out;
}

/****************************/
/****************************/
/****************************/



@import "icon";
@import "base";
@import "scroll";
@import "main";
@import "media";
@import "modal";
