<header class="header">
    <div class="header-logo">Logotype</div>
    <div class="header-body">
        <div class="search">
            <div class="search-body">
                <input type="text">
            </div>
            <button class="search-btn">
                <svg class="c-icon icon-search">
                    <use xlink:href="./src/img/sprite.svg#icon-search"/>
                </svg>
            </button>
        </div>
        <div class="header-menu">
            <a href="" class="header-menu__link">Синглы</a>
            <a href="" class="header-menu__link">Продукция</a>
            <div class="header-dropdown">
                <a href="" class="header-dropdown__link">...</a>
                <div class="header-dropdown__menu"></div>
            </div>
        </div>
    </div>    
</header>