<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="src/js/vendor/swiper-5.3.8/swiper.min.css">
    <link rel="stylesheet" href="dist/normalize.css">
{#    <link rel="stylesheet" href="dist/base.css">#}
    <link rel="stylesheet" href="dist/main.css">
{#    <link rel="stylesheet" href="dist/media.css">#}


    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <meta name="theme-color" content="#fafafa">
</head>

<body>
<main class="wrapper">
    <div class="layout">