<header class="header">
    <div class="header-logo">Logotype</div>
    <div class="header-body">
        <div class="search">
            <div class="search-body">
                <input type="text">
            </div>
            <button class="search-btn">
                <svg class="c-icon icon-search">
                    <use xlink:href="./src/img/sprite.svg#icon-search"/>
                </svg>
            </button>

            <div class="search-result">
                <div class="search-result-list">
                    <div class="search-result-list__item">
                        <a href="#">
                            <div class="search-result-card">
                                <div class="search-result-card__name">Opt</div>
                                <div class="search-result-card__icon">
                                    <svg class="c-icon icon-mana">
                                        <use xlink:href="./src/img/sprite.svg#icon-mana"/>
                                    </svg>
                                </div>
                                <div class="search-result-card__type">Core Set 2021</div>
                                <div class="search-result-card__price">18 р.</div>
                            </div>
                        </a>
                    </div>

                    <div class="search-result-list__item">
                        <a href="#">
                            <div class="search-result-card">
                                <div class="search-result-card__name">Snare Thopter</div>
                                <div class="search-result-card__icon">
                                    <svg class="c-icon icon-mana">
                                        <use xlink:href="./src/img/sprite.svg#icon-mana"/>
                                    </svg>
                                </div>
                                <div class="search-result-card__type">Kaladesh</div>
                                <div class="search-result-card__price">21 р.</div>
                            </div>
                        </a>
                    </div>
                    <div class="search-result-list__item">
                        <a href="#">
                            <div class="search-result-card">
                                <div class="search-result-card__name">Telethopter</div>
                                <div class="search-result-card__icon">
                                    <svg class="c-icon icon-mana">
                                        <use xlink:href="./src/img/sprite.svg#icon-mana"/>
                                    </svg>
                                </div>
                                <div class="search-result-card__type">Tempest Remastered</div>
                                <div class="search-result-card__price">112 р.</div>
                            </div>
                        </a>
                    </div>
                    <div class="search-result-list__item">
                        <a href="#">
                            <div class="search-result-card">
                                <div class="search-result-card__name">Thopter Arrest</div>
                                <div class="search-result-card__icon">
                                    <svg class="c-icon icon-mana">
                                        <use xlink:href="./src/img/sprite.svg#icon-mana"/>
                                    </svg>
                                </div>
                                <div class="search-result-card__type">Aether Revolt</div>
                                <div class="search-result-card__price">1458 р.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <a href="" class="header-menu__link">Синглы</a>
            <a href="" class="header-menu__link">Продукция</a>
            <div class="header-dropdown">
                <div class="header-dropdown__link">
                    <span>...</span>

                </div>
                <div class="header-dropdown-menu">
                    <div class="header-dropdown-menu__item">
                        <a href="#" class="header-dropdown-menu__link">Ссылка 1</a>
                    </div>
                    <div class="header-dropdown-menu__item">
                        <a href="#" class="header-dropdown-menu__link">Ссылка 2</a>
                    </div>
                    <div class="header-dropdown-menu__item">
                        <a href="#" class="header-dropdown-menu__link">Ссылка 3</a>
                    </div>
                    <div class="header-dropdown-menu__item">
                        <a href="#" class="header-dropdown-menu__link">Ссылка 4</a>
                    </div>
                </div>

            </div>
        </div>
    </div>    
</header>