<div class="sidebar">

    <div class="sidebar-top">
        <div class="sidebar-tab">
            <a href="#" class="active">Войти</a>
            <a href="#">Регистрация</a>
        </div>
        <div class="sidebar-auth"></div>
        <div class="sidebar-registration"></div>
        <div class="sidebar-basket">
            <div class="sidebar-basket-list"></div>
            <div class="sidebar-basket__footer">
                <div class="sidebar-basket-count">
                    <span>Корзина</span>
                    <div class="sidebar-basket-count__number">52</div>
                </div>
                <div class="sidebar-basket__total">11 523p</div>
            </div>
        </div>
    </div>
    <div class="sidebar-box">
        <div class="sidebar-box__head">
            <div class="sidebar-box__title">Выпуски</div>
            <div class="sidebar-box__icon"></div>
        </div>
        <div class="sidebar-box__body">
            <ul class="sidebar-box-list">
                <li class="sidebar-box-list__item">
                    <div class="c-checkbox">
                        <input type="checkbox" id="issues-01" name="issues-01">
                        <label for="issues-01">Strixhaven: School of Mages</label>
                    </div>
                </li>
                <li class="sidebar-box-list__item">
                    <div class="c-checkbox">
                        <input type="checkbox" id="issues-02" name="issues-02">
                        <label for="issues-02">Time Spiral Remastered </label>
                    </div>
                </li>
                <li class="sidebar-box-list__item">
                    <div class="c-checkbox">
                        <input type="checkbox" id="issues-03" name="issues-03">
                        <label for="issues-03">Kaldheim</label>
                    </div>
                </li>
                <li class="sidebar-box-list__item">
                    <div class="c-checkbox">
                        <input type="checkbox" id="issues-04" name="issues-04">
                        <label for="issues-04">Zendikar Rising</label>
                    </div>
                </li>
                <li class="sidebar-box-list__item">
                    <div class="c-checkbox">
                        <input type="checkbox" id="issues-05" name="issues-05">
                        <label for="issues-05">Double Masters</label>
                    </div>
                </li>
            </ul>
            <a href="#" class="sidebar-box__more">Посмотреть все</a>
        </div>

    </div>
</div>